<a class="skip" href="#content">Aller au contenu</a>
<header class="header">
  <a class="brand" href="index.html"><span class="brandmark">NG</span><span>NICOLAS GEORGET</span><small>TECHNICAL ARCHIVE / {{ site.revision }}</small></a>
  <nav class="nav">
    <a href="index.html#index">Projects</a>
    <a href="index.html#protocol">Protocol</a>
    <a href="index.html#profile">Profile</a><a href="system.html">System</a>
  </nav>
</header>